body{
    margin:auto;
    background-color: rgb(228, 219, 199);
    color: black;
}
.mydark{
    background-color:rgb(206, 179, 143);
    color:black;
}

a{
    text-decoration: none;
}

/*Header CSS*/
header{
    height: 50px;
    /* border: 5px solid red; */
    background-color: rgb(100, 44, 4);
    color: white;
    font-size: 12px;
       width: 100%;
}

button > a{
    color: rgb(100, 44, 4)
}

button{
    height:25px;
    width:60px;
    background-color: white;
    color:rgb(100, 44, 4);
    margin: 6px;
    border: none;
}

#icon{
    float: left;
    display: flex;
    margin: 7px;
}

#icon > h1{
    margin: 5px;
}

#icon >a > img{
    height: 60px;
    width: 60px;
    border-radius: 7px;
    margin: 1px;
}

img{
    height:100%;
    width: 100%;
    border: 5px groove black;
    box-shadow: 7px 9px 11px black;
}

#social{
    float: right;
    margin: 7px;

}

/* Listing CSS */
.container{
    /* height: 800px; */
    width: 90%;
    /* border: 2px solid black; */
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 2%; 
    display: inline-block;
}  

#filter{
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
    margin-top: 1%;
    margin-bottom: 1%;
}

.filtertype{
    font-size: 17px;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
}

h2{
    text-align: center;
}

.menutype{
    font-size: 17px;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.cost{
    font-size: 17px;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}


#container1{
    height: 100%;
    width: 20%;
    border: 2px solid black;
    margin-top: 2%;
    margin-left: 2%;
    float: left;
}


#container2{
    height: 100%;
    width: 70%;
    /* border: 2px solid green; */
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 4%;
    float: left;
}

#component{
    height: 200px;
    width: 95%;
    /* border: 2px solid purple; */
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    display: inline-block;
}

.component1{
    height: 200px;
    width: 35%;
    /* border: 2px solid yellow; */
    float: left;
}

.component1 > img{
    height: 100%;
    width: 100%;
    border-radius: 10%;
    box-shadow: 6px 8px 11px black;
}
.component1>img:hover{
    transform: scale(1.2);
    /* transform: scale(1.1); */
    /* transform: skewX(20deg); */
    /* transform: rotate(60deg); */
    /* transform: translate(100px, 100px); */
}

.component2{
    height: 200px;
    width: 62%;
    /* border: 2px solid blue; */
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2%;
    margin-left: 3%;
    color: black;
}


/*Footer CSS*/
footer{
    /* height:100px; */
    /* border: 5px solid pink; */
    background-color:  rgb(77, 33, 2);
    color: white;
    text-align: center;
}

.footdiv{
    height: 40px;
    width: 30%;
    display: inline-block;
    border-right: 2px solid white;
    font-size: 16px;
}
.footdiv p{
    color: white;
}

.noborder{
    border: none;
}

#foottext{
    margin-top: 3%;
}
.footdiv1{
    height: 40px;
    width: 30%;
    display: inline-block;
    /* border-right: 2px solid white; */
    font-size: 16px;
}

.footdiv1 > img{
    height: 34px;
    width: 34px;
    border-radius: 7px;
}

.footdiv1social > img{
    height: 10px;
    width: 10px;
    border-radius: 7px;
    display: inline-block;
}

.social{
    height: 34px;
    width: 34px;
    border-radius: 7px;
}





